/*CSS file for App.js*/

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.main-header {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  margin: 0;
  font-size: 35px;
}

.header-link {
  color: #333;
  font-size: 20px;
  margin-right: 15px;
}

.header-link-last {
  color: #333;
  font-size: 20px;
}

.main-footer {
  text-align: center;
  padding: 15px;
  background-color: #f1f1f1;
  color: #555;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
